.navbar-inverse {
  background-color: #b366ff; }

/*body{*/
/*background: url("../img/festival.jpg") floralwhite;*/
/*}*/
.parallax {
  /* The image used */
  background-image: url("../img/festival.jpg");
  /* Set a specific height */
  height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#loginModal1 .modal-header {
  background: #b366ff; }
  #loginModal1 .modal-header h5 {
    color: floralwhite; }
  #loginModal1 .modal-header .close {
    color: floralwhite; }

#loginModal1 .modal-body {
  background: #d1c4e9; }

#loginModal1 .modal-footer {
  background: #9575cd; }

#loginModal2 .modal-header {
  background: #b366ff; }
  #loginModal2 .modal-header h5 {
    color: floralwhite; }
  #loginModal2 .modal-header .close {
    color: floralwhite; }

#loginModal2 .modal-body {
  background: #d1c4e9; }

#loginModal2 .modal-footer {
  background: #9575cd; }

.jumbotron {
  margin: 30px 0px 0px 0px;
  padding: 70px 30px;
  background: #9575cd;
  color: floralwhite; }

.footer {
  background-color: #d1c4e9;
  padding: 10px 0px 0px 0px; }
